@import "~antd/dist/antd.less";
@import '~react-big-calendar/lib/css/react-big-calendar.css';

@primary: #B26E63;
@secondary: #2F5E7C;
@whiteish: #F2EFEB;

// Ant Design
@primary-color: @primary;
@layout-header-background: @secondary;
@layout-body-background: @whiteish;
@menu-dark-submenu-bg: @secondary;

.ant-table-thead > tr > th {
    font-weight: 700;
}

.text-primary {
    color: @primary-color;
}

.text-error {
    color: @error-color;
}