@import "~antd/dist/antd.less";
@import '~react-big-calendar/lib/css/react-big-calendar.css';

// Ant Design
@primary-color: #B26E63;
@layout-header-background: #2F5E7C;
@layout-body-background: #F2EFEB;

.ant-table-thead > tr > th {
    font-weight: 700;
}

.text-primary {
    color: @primary-color;
}

.text-error {
    color: @error-color;
}