@import "~antd/dist/antd.less";

// Ant Design style overrides
@primary-color: #B26E63;
@layout-header-background: #2F5E7C;
@layout-body-background: #F2EFEB;

html, body {
    font-family: 'Raleway', sans-serif !important;
}

.w-screen {
    width: 100vw;
}

.h-screen {
    height: 100vh;
}

.w-full {
    width: 100%;
}

.h-full {
    height: 100%;
}

.bold {
    font-weight: 700;
}

.ant-table-thead > tr > th {
    font-weight: 700;
}

.text-primary {
    color: @primary-color;
}

.text-error {
    color: @error-color;
}